body {
    margin: 60px auto;
    width: 70%;
    background-color: #000000;
    background-image: url();
    color: #FFFFFF;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: #FFFFFF;
    float: left;
    
}
a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #FFFFFF;
    background-color: #7FFF00;
}
.active {
    background-color: #4CAF50;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #FFFFFF
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #FFFFFF;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    color: #FFFFFF;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color: #FFFFFF;
}

ul.posts li {
    list-style: none;
    color: #FFFFFF;
}
