


#header2 {padding-left:810px;}

#nav {padding:3px;
padding-right:35px;}

#settings {
	padding-top:21px;}

#exit {padding-top:21px;}

#html {
	padding-top:21px;
}


#firstpics {margin-top:300px;
	margin-left: 200px;
	height:2000px; 
width:4000px;}



#application {margin-top:300px;}

